.nano-editor {
  background-color: #000000;
  color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'monospace';
}

.nano-header {
  background-color: #4f4f4f;
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
}

.nano-textarea {
  flex-grow: 1;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  resize: none;
  padding: 5px;
  font-size: 1em;
}

.nano-footer {
  background-color: #4f4f4f;
  padding: 2px 5px;
}
